# Phenotype analysis

In [2]:
# Import packages

from covariableSelection.data.load import load_tsv
from covariableSelection.data.preprocesing import select_first_cohort
# from covariableSelection.data.preprocess import preprocess
# from covariableSelection.data.split import split
# from covariableSelection.data.transform import transform

In [3]:
input_path = "../../data/raw/phenotype/"
output_path = "../../data/processed/phenotype/"

Load phenotype data.

In [4]:
phenotype_df = load_tsv( input_path, "phenotype_data.tsv")

phenotype_df.head()

#Rename f_ide column into eid
phenotype_df = phenotype_df.rename(columns={"f_ide": "eid"})

#phenotype_df.shape

Looking for file at: ../../data/raw/phenotype/phenotype_data.tsv
File loaded: 502180 rows × 156 columns
File loaded: 502180 rows × 156 columns

In [5]:
phenotype_chars_df = load_tsv( input_path, "phenotype_chars.tsv", skiprows=5)

phenotype_chars_df.head()

Looking for file at: ../../data/raw/phenotype/phenotype_chars.tsv
File loaded: 87 rows × 17 columns

,Field,FieldID,ValueType,Coding,Category,Participants,Items,Stability,Units,ItemType,Strata,Sexed,Instances,Array,Notes,Link,Path
0,Current tobacco smoking,1239,Categorical single,100347.0,100058,501500,597678,Complete,NaN,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""Do you smoke toba...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Assessment centre > Touchscreen > Lifestyle an...
1,Past tobacco smoking,1249,Categorical single,100348.0,100058,464200,556298,Complete,NaN,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""In the past, how ...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Assessment centre > Touchscreen > Lifestyle an...
2,Smoking/smokers in household,1259,Categorical single,100370.0,100058,461855,552928,Complete,NaN,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""Does anyone in yo...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Assessment centre > Touchscreen > Lifestyle an...
3,Exposure to tobacco smoke at home,1269,Integer,100291.0,100058,464571,556698,Complete,hours/week,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""At home, about ho...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Assessment centre > Touchscreen > Lifestyle an...
4,Exposure to tobacco smoke outside home,1279,Integer,100291.0,100058,464571,556698,Complete,hours/week,Data,Primary,Unisex,4,1,"ACE touchscreen question """"""""Outside of your h...",http://biobank.ndph.ox.ac.uk/ukb/field.cgi?id=...,Assessment centre > Touchscreen > Lifestyle an...

In [6]:
phenotype_key_df = load_tsv( input_path, "phenotype_cbkeys.tsv")

phenotype_key_df.head()

Looking for file at: ../../data/raw/phenotype/phenotype_cbkeys.tsv
File loaded: 244 rows × 6 columns

,coding_name,code,meaning,concept,display_order,parent_code
0,7,1,Yes,NaN,1,NaN
1,7,0,No,NaN,2,NaN
2,100291,-1,Do not know,NaN,1,NaN
3,100291,-3,Prefer not to answer,NaN,2,NaN
4,100347,1,"Yes, on most or all days",NaN,1,NaN

## Preprocessing data

Select first cohort only.

In [7]:
phenotype_df = select_first_cohort(phenotype_df)